body {
    font-family: Arial;
    background-color: #010849;
    color: #909b2b;
    margin: 0;
}


.container { 
    max-width: 960px;
    margin: 0 auto;
}


header {
    display: flex;
}
body.dark-mode {
  background-color: #2c3e50;
  color: #ecf0f1;
}
body.dark-mode .container {
  background-color: #34495e;
  
body.dark-mode a {
  color: #3498db;
}